<div class="page-header">
  <h1>
    Providers
    <a href="/providers/new" class="btn btn-lg btn-success">New Provider</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Address</th>
        <th>Age group</th>
        <th>Actions</th>
      </tr>

      <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.email %></td>
        <td><%= provider.password %></td>
        <td><%= provider.address %></td>
        <td><%= provider.age_group %></td>
        <td>
          <a href="/providers/<%= provider.id %>" class="btn btn-primary">Show</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @providers, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
