<div class="page-header">
  <h3>Child #<%= @child.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Guardian</dt>
      <dd>
        <% if @child.guardian.present? %>
          <a href="/parents/<%= @child.guardian %>">
            <%= @child.guardian.email %>
          </a>
        <% end %>
      </dd>

      <dt>Age</dt>
      <dd><%= @child.age %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/children" class="btn btn-primary">
        Back
      </a>
      <% if current_parent == @child.guardian %>
        <a href="/children/<%= @child.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_child/<%= @child.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Child has many childcare_hours -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Childcare Hours
      </li>

      <% @child.childcare_hours.each do |childcare_hour| %>
        <li class="list-group-item">
          <a href="/childcare_hours/<%= childcare_hour.id %>">
            <%= childcare_hour.child %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/childcare_hours/<%= childcare_hour.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/childcare_hours/<%= childcare_hour.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_childcare_hour/<%= childcare_hour.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_childcare_hour" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for child -->
      <div class="form-group">
        <label for="child" class="control-label">
          Child
        </label>

        <%= select_tag(:child, options_from_collection_for_select(Child.all, :id, :guardian), :class => "form-control") %>
      </div>

      <!-- Label and input for time -->
      <div class="form-group">
        <label for="time" class="control-label">
          Time
        </label>

        <input type="text" id="time" name="time" placeholder="Time" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Childcare Hour
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
