<div class="page-header">
  <h1>
    Reservations
    <a href="/reservations/new" class="btn btn-lg btn-success">New Reservation</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Time</th>
        <th>Childcare hours</th>
        <th>Available hours</th>
        <th>Actions</th>
      </tr>

      <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.time %></td>
        <td>
          <% if reservation.childcare_hours.present? %>
            <a href="/childcare_hours/<%= reservation.childcare_hours.id %>">
              <%= reservation.childcare_hours.child %>
            </a>
          <% end %>
        </td>
        <td>
          <% if reservation.available_hours.present? %>
            <a href="/available_hours/<%= reservation.available_hours.id %>">
              <%= reservation.available_hours.provider %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/reservations/<%= reservation.id %>" class="btn btn-primary">Show</a>
          <a href="/reservations/<%= reservation.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_reservation/<%= reservation.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @reservations, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
