<!-- Validation failure messages -->
<% if @reservation.errors.any? %>
  <% @reservation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Reservation</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_reservation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for time -->
      <div class="form-group">
        <label for="time" class="control-label">
          Time
        </label>

        <input type="text" id="time" name="time" placeholder="Time" class="form-control" value="<%= @reservation.time %>">
      </div>

      <!-- Label and input for childcare_hours -->
      <div class="form-group">
        <label for="childcare_hours" class="control-label">
          Childcare hours
        </label>

        <%= select_tag(:childcare_hours, options_from_collection_for_select(ChildcareHour.all, :id, :child, @reservation.childcare_hours), :class => "form-control") %>
      </div>

      <!-- Label and input for available_hours -->
      <div class="form-group">
        <label for="available_hours" class="control-label">
          Available hours
        </label>

        <input type="text" id="available_hours" name="available_hours" placeholder="Available hours" class="form-control" value="<%= @reservation.available_hours %>">
      </div>

      <button class="btn btn-success">
        Create Reservation
      </button>
      or
      <a href="/reservations">Cancel</a>
    </form>
  </div>
</div>
