<div class="page-header">
  <h3>Reservation #<%= @reservation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Time</dt>
      <dd><%= @reservation.time %></dd>

      <dt>Childcare hours</dt>
      <dd>
        <% if @reservation.childcare_hours.present? %>
          <a href="/childcare_hours/<%= @reservation.childcare_hours %>">
            <%= @reservation.childcare_hours.child %>
          </a>
        <% end %>
      </dd>

      <dt>Available hours</dt>
      <dd>
        <% if @reservation.available_hours.present? %>
          <a href="/available_hours/<%= @reservation.available_hours %>">
            <%= @reservation.available_hours.provider %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/reservations" class="btn btn-primary">
        Back
      </a>
      <a href="/reservations/<%= @reservation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_reservation/<%= @reservation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
